<html>
<head>
<h2> <marquee>INPUT PAGE</marquee> </h2>
</head>
<body>
<center>
<form method='post' action='/get_input'>
INPUT::<input type='text' name='input'><br>
OUTPUT FILENAME::<input type='text' name='outputfile'><br>
<input type="submit" name="SUBMIT">
</form>
<br><br><br>
<form method='post' action='/get_input_file'>
FILE:: <input type='text' name='inputfile'><br>
OUTPUT FILENAME::<input type='text' name='outputfile'><br>
<input type="submit" name="SUBMIT">
</form>
</center>
</body>
</html>
